.darkmode--activated {
  &::after {
    background-color: $color-black;
  }

  .burger-bun {
    background: #fff;
  }

  .burger-menu-icon:hover {
    border-color: #fff;
  }

  .header-nav li,
  .header-nav a {
    color: #fff;
  }

  .header-nav a {
    &:hover,
    &:active,
    &:focus,
    &.active {
      border-left-color: #fff;
      color: $color-blue;
    }
  }

  // this color will be inverted to #fff
  .contact-form form input,
  .contact-form form textarea {
    &::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #000;
    }

    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #000;
      opacity: 1;
    }

    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #000;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #000;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #000;
    }

    &::placeholder {
      color: #000;
    }
  }
}
