---
import PostCard from "../components/PostCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Pagination from "../components/Pagination.astro";
import { getPosts } from "../lib/api";

const data = await getPosts(5);
---

<MainLayout>
	<div class="space-y-8">
		{
			data.posts.edges.map((post, i) => (
				<PostCard post={post.node} priority={i === 0} />
			))
		}
	</div>
	<Pagination isHomepage={true} totalPosts={data.posts.pageInfo.total} />
</MainLayout>
