---
---

<div class="contact-form">
  <form
    netlify
    netlify-honeypot="bot-field"
    data-netlify-recaptcha="true"
    name="contact-form"
    method="POST"
    action="/success"
  >
    <p class="hidden">
      <label>
        Don't fill this out if you're human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="form-name" value="contact-form" />
    <label for="name" hidden>Name</label>
    <input id="name" type="text" name="name" placeholder="Name" required />
    <label for="email" hidden>Email</label>
    <input id="email" type="email" name="email" placeholder="Email" required />
    <label for="message" hidden>Message</label>
    <textarea
      id="message"
      wrap="soft"
      name="message"
      required
      placeholder="Message"
      rows="7"></textarea>
    <div data-netlify-recaptcha="true"></div>
    <button type="submit">Submit</button>
  </form>
</div>

<style lang="scss">
  @use '../styles/config/variables.scss' as *;
  @use '../styles/abstracts/functions/rem.scss' as *;

  .contact-form {
    margin: 2rem 0;
  }

  .contact-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .hidden {
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    input {
      flex-basis: calc(50% - 0.75rem);
    }

    textarea {
      flex-basis: 100%;
      resize: none;
    }

    input,
    textarea {
      padding: 1rem 1.5rem;
      font-size: 1rem;
      border: rem(1) solid $color-black;
      border-radius: 0.5rem;
      outline: 0;
      -webkit-transition: border-color 0.4s ease;
      transition: border-color 0.4s ease;

      &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: rgba($color-black, 0.5);
      }

      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba($color-black, 0.5);
        opacity: 1;
      }

      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba($color-black, 0.5);
        opacity: 1;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgba($color-black, 0.5);
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba($color-black, 0.5);
      }

      &::placeholder {
        color: rgba($color-black, 0.5);
      }

      &:hover,
      &:focus,
      &:active {
        border-color: $color-blue;
      }
    }

    button[type='submit'] {
      margin: 0 auto;
      padding: 1rem 1.5rem;
      color: #fff;
      font-size: 1rem;
      background-color: $color-blue;
      border: none;
      border-radius: 0.5rem;
      text-transform: uppercase;
      font-weight: normal;
      cursor: pointer;
      -webkit-transition: background-color 0.4s ease;
      transition: background-color 0.4s ease;

      &:hover {
        background-color: rgba($color-blue, 0.8);
      }
    }
  }
</style>
