---
import Navigation from "../components/Navigation.astro";
import { settingsQuery } from "../lib/api";

const { generalSettings } = await settingsQuery();
---

<header class="header" role="banner">
  <Navigation />
  <h1 class="header-title">
    <a href="/" rel="home">
      <img
        class="header-logo"
        src="/logo.png"
        alt={`${generalSettings.title} logo`}
      />
    </a>
  </h1>

  {
    (Astro.url.pathname === "/" || "page" in Astro.params) && ( // show only on homepage
      <>
        <div class="header-description">
          <h1>Hi, I'm Matija, a frontend / web developer</h1>
          <h4>
            <a href="/about/">get to know me</a>, check out the{" "}
            <a
              href="https://www.linkedin.com/in/matijaculjak"
              target="_blank"
              title="Linkedin profile"
            >
              projects I worked on
            </a>{" "}
            or read on some of the stuff I wrote
          </h4>
        </div>
      </>
    )
  }
</header>

<style lang="scss" is:global>
  @use '../styles/abstracts/functions/rem.scss' as *;

  .header {
    text-align: center;
  }

  .header-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      display: block;
    }
  }

  .header-description {
    h1 {
      @media all and (max-width: 767px) {
        line-height: 1.2;
        font-size: rem(21);
      }
    }

    h4 {
      @media all and (max-width: 767px) {
        display: none;
      }
    }
  }
</style>
